.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 50%;
  margin: 0 auto;
}

.startGameButton {
  width: 70%;
  margin-top: 20px;
}
