.choosenAnswer {
  background-color: rgb(66, 241, 66);
}

.correctAns {
}
.wrongAnswer {
  background-color: rgb(239, 3, 3);
}
.nextBtn {
}

.playView {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  padding: 0px 50px;
}
